<!DOCTYPE html>
<html lang="en">
<head>
  {{> partials/includes}}
</head>

{{#pages.index}}
  <body class="sin-footer">
    <div id="page">
      {{> partials/header}}
      <p>{{ body }}</p>
      {{> partials/footer}}
    </div>
  </body>
{{/pages.index}}

</html>